:root {
    --primary-color: #4CAF50;
    --primary-darker: #45a049;
    --background-light: #f9f9f9;
    --text-color: #333;
    --text-light: #666;
    --border-color: #ddd;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: #fff;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* Header Styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #111111d8;
    border-bottom: 1px solid #9c9c9c50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2ch;
    font-size: 1rem;
}

header h1 {
    font-size: 1.2rem;
    color: #fff;
}

header nav ul {
    display: flex;
    gap: 1ch;
}   

header nav ul li a {
    color: #fff;
}

header nav ul li a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

/* Container and Section Styles */
.container {
    width: 100%;
    margin: 3.2rem auto;
    scroll-behavior: smooth;
}

section#about {
    padding: 3rem 0 0 0;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#about .about-section {
    width: 100%;
}